/* Buy Now Store */
.product-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.product-row-title {
  font-size: 20px;
  font-weight: bold;
  font-weight: 800;
  text-transform: uppercase;
}
.product-cards {
  display: flex;
  justify-content: space-around;
}
.buy-now-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}
.buy-now-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.buy-now-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
.buy-now-card button {
  margin-top: 10px;
  background-color: #0070c9;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.buy-now-card button:hover {
  background-color: #005999;
}
.product-info {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-name {
  font-size: large;
  font-weight: 600;
}
.product-brand {
  font-weight: 200;
  margin-top: -15px;
  color: #6e6e73;
}
.product-price {
  color: #005999;
}
